.cardFooterCss{
    
   font-size: 10px;
}
.description{
    
    text-align: justify;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}


.position {
    
    text-align: center;
}

.codeManFont{
    
    font-family: 'Press Start 2P', cursive;
    text-shadow: 6px 6px 16px black ;
    border-radius: 10px/5px
        
}

.cardCss {
    
    border-radius: 10px/5px;
    box-shadow: 6px 16px 50px black inset ;
}
